{% extends "base_generic.html" %}

{% block content %}
  <h1>Все заявки</h1>
  {% if query_list %}
    <ul>
      {% for query in query_list %}
      <li>
        <hr>
        <div style="display: flex; gap: 10px">
          <p>Дата создания: {{ query.creationDate }}</p>
        </div>
        <p>Название: {{ query.title}}</p>
        <p>Описание: {{ query.description }}</p>
        <p>Категория: {{ query.category }}</p>
        {% if query.status == 'n' %}
        <p>Статус: Новая</p>
        <a href="{% url 'query_work' query.id %}">Принять в работу</a><br>
        <a href="{% url 'query_complete' query.id %}">Выполнить</a>
        {% elif query.status == 'd' %}
        <p>Статус: Выполнено</p>
        {% else %}
        <p>Статус: принято в работу</p>
        {% endif %}
        <hr>
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Нет заявок</p>
  {% endif %}
{% endblock %}