{% extends "base.html" %}

{% block content %}
    <h1>All Borrowed books</h1>

    {% if request_list %}
    <ul>

      {% for request in requestance_list %}
      <li class="{% if request.is_overdue %}text-danger{% endif %}">
        <a href="{% url 'book-detail' request.book.pk %}">{{request.book.title}}</a> ({{ request.due_back }}) - {{request.borrower}}
        {% if perms.catalog.can_mark_returned %}-
          <a href="{% url 'renew-book-librarian' request.id %}">Renew</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>There are no books borrowed.</p>
    {% endif %}
{% endblock %}